body {
  text-align: center;
}

#car-row {
  width: 100vh;
}

.tales {
  width: 100%;
  max-height: 400px !important;
}

.carousel-inner {
  width: 100%;
  max-height: 400px !important;
}

#info-container {
  text-align: center;
}

#categories {}
/* Media para pantallas grandes */
.grid {
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  grid-template-areas: "out out din" "liv liv din" "liv liv din" "bed bed study"
}

.gridimg {
  width: 100%;
}
/* Media para pantallas medianas */
@media screen and (max-width: 769px) {
  .grid {
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-areas: "out out din" "liv liv din" "liv liv din" "bed bed study"
  }
}
/* Media para pantallas chicas */
@media screen and (max-width: 500px) {
  .grid {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-areas: "out out din" "liv liv din" "liv liv din" "bed bed study"
  }
}

#bed {
  grid-area: bed;
  background-image: url(../assets/images/bed.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#liv {
  grid-area: liv;
  background-image: url(../assets/images/livingroom2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

#din {
  grid-area: din;
  background-image: url(../assets/images/dinning2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#out {
  grid-area: out;
  background-image: url(../assets/images/outdoor.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#study {
  grid-area: study;
  background-image: url(../assets/images/study2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.border2{
  text-align: center;
vertical-align: middle;
line-height: 300px;
font-family: 'Allura', cursive;
font-weight: 500;
font-size: 80px;
color: white;
}

.border22{
  text-align: center;
vertical-align: middle;
line-height: 600px;
font-family: 'Allura', cursive;
font-weight: 500;
font-size: 80px;
color: white;
}
#mini {
  height: 20vh;
}

.blog-cont {}

.tips {
  display: inline-block;
}

.blog-img {
  border-radius: 100%;
  width: 70%;
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
  }
  
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}


/* TODO: Hacer un media query de los hover effects para mobile */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect  {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover  {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-align: center;
  position: relative;
  font-size: 80px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 1;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}