<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <title>e-commerce</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="../css/espacio.css">
    <link rel="stylesheet" href="../css/main.css">
  <body>

    <!-- Navbar -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav text-faded">
            <li class="nav-item active">
              <a id="home" class="nav-link" href="../index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item links">
              <a id="living" class="nav-link " href="espaciosala.html">Living Room</a>
            </li>
            <li class="nav-item links">
              <a id="bedroom" class="nav-link " href="espaciorecamara.html">Bedroom</a>
            </li>
            <li class="nav-item links">
              <a id="dinning"class="nav-link " href="espaciocomedor.html">Dinning Room</a>
            </li>
            <li class="nav-item links">
              <a id="outdoor"class="nav-link " href="espaciopatio.html">Outdoors</a>
            </li>
            <li class="nav-item links">
              <a id="studio"class="nav-link " href="espacioestudio.html" >Studio</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i id="cart" class="fas fa-shopping-cart"></i>
                <span id="counter" class="badge badge-info">0</span>
              </a>
            </li>
            <li class="nav-item">
              <a id="search" class="nav-link btn btn-success" href="views/search.html">Search</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- De nuevo el fucking mt :( -->
    <br>
    <br>
    <br>
<!-- Comienza livingroom -->
    <div class="row nopadding">
        <div class="col nopadding">
          <h1 id="title">Dinning Room</h1>
          <h6 class="p-3">The dinning room is a key part in the family dinning experience, it's a social and joyous place for the serving and consumption of food.  
          </h6>
          <!-- Carousel -->
        <div class="row nopadding">
          <div class="col nopadding">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner tales2">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../assets/images/din2.jpg" alt="First slide">
                </div>
                <div class="carousel-item tales2">
                  <img class="d-block w-100" src="../assets/images/din3.jpg" alt="Second slide">
                </div>
                <div class="carousel-item tales2">
                  <img class="d-block w-100" src="../assets/images/di.jpg" alt="Third slide">
                </div>
                
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        </div>
      </div>
        
<!-- Paletas de colores  -->

          <h2 class="nopadding mt-5">Suggested color palletes</h2>
          <div class="nopadding mt-3">
          <img src="../assets/images/cp10.png" alt="">
          <img src="../assets/images/cp13.png" alt="">
          <img src="../assets/images/cp6.png" alt="">
        </div>


    <!--Tips-->
    <div class="row nopadding mt-5 mb-5">
        <div class="col nopadding mt-3">
          <div class="blog-cont">
            <h2>Basic tips to decorate your dinning room</h2>
            <div class="row nopadding mt-5 p-1">
              <div class="tips col">
                <img class="card-img-top blog-img" src="../assets/images/cd1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Bright ideas!</h4>
                  <p class="card-text">Lighting is a key feature of any room and should ideally provide a range of lighting options for every mood. Ample brightness is perfect for helping out with homework, while soft lighting is much better at creating an intimate dining atmosphere. 
                  </p>
                  <a href="#" class="btn btn-primary button">Learn More</a>
                </div>
              </div>
              <div class="tips col">
                <img class="card-img-top blog-img" src="../assets/images/cd2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Work the room</h4>
                  <p class="card-text">A dining room without a dining room table is, well, just a room. So make sure that your lighting plan compliments your dining furniture – after all, it is the room where you’ll be making memories with loved ones for years to come. </p>
                  <a href="#" class="btn btn-primary button">Learn More</a>
                </div>
              </div>
              <div class="tips col">
                <img class="card-img-top blog-img" src="../assets/images/cd3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Decorate the walls</h4>
                  <p class="card-text">Pro tip: Never, ever, ever underestimate the impact that your wall color and décor can have on the room. Not only is it some of the largest real estate in any space, it’s the perfect opportunity for you to make the dining room feel truly your own. 
                  </p>
                  <a href="#" class="btn btn-primary button">Learn More</a>
                </div>
              </div>
            </div>
            <button class="btn">Want to see more tips?</button>
          </div>
        </div>
      </div>
<!-- Comienza sección furniture -->
<div class="container-fluid">
  <h1>Furniture</h1>
  <h2 class="ftitle mt-2">Sofas</h2>
  <div class="row nopadding mt-3">
  <div class="col furniturecontainer">
    <img src="../assets/images/sofa1a.jpg" class="furniture" alt="">
    <h3>Sofa Traventino</h3>
    <span><strong> Precio: </strong> $7,000 MXN </span>
    <span class="d-block"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
  </div>
<div class="col furniturecontainer">
    <img src="../assets/images/sofa2a.jpg" class="furniture" alt="">
    <h3>Sofa Lapislázuli</h3>
    <span><strong> Precio: </strong> $7,000 MXN </span>
    <span class="d-block"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
  </div>
<div class="col furniturecontainer">
    <img src="../assets/images/sofa3a.jpg" class="furniture" alt="">
    <h3>Sofa Oeste</h3>
    <span><strong> Precio: </strong> $7,000 MXN </span>
    <span class="d-block"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
  </div>
</div>
<div class="row nopadding">
  <div class="col furniturecontainer">
      <img src="../assets/images/sofa5a.jpg" class="furniture" alt="">
      <h3>Sofa Traventino</h3>
      <span><strong> Precio: </strong> $7,000 MXN </span>
      <span class="d-block"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
    </div>
  <div class="col furniturecontainer">
      <img src="../assets/images/sofa6a.jpg" class="furniture" alt="">
      <h3>Sofa Lapislázuli</h3>
      <span><strong> Precio: </strong> $7,000 MXN </span>
      <span class="d-block"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
    </div>
  <div class="col furniturecontainer">
      <img src="../assets/images/sofa7a.jpg" class="furniture" alt="">
      <h3>Sofa Oeste</h3>
      <span><strong> Precio: </strong> $7,000 MXN </span>
      <span class="d-block"> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
    </div>
</div>
</div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
     crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
     crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/data.js"></script>
    <script type="text/javascript" src="../js/home.js"></script>
  </body>
</html>
