<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <title>e-commerce</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/product.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav text-faded">
            <li class="nav-item active">
              <a id="home" class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="views/espacio.html">Living Room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="views/espacio.html">Bedroom</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="views/espacio.html">Dining Room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="views/espacio.html">Outdoors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="views/espacio.html">Studio</a>
            </li>
          </ul>
            <a id="search" class="nav-link btn btn-success" href="views/search.html">Search</a>
        </div>
      </div>
    </nav>

    <!-- contenido principal -->
    <div class="container">
      <div class="row">
        <div  class="col-2">
          <img class="img-fluid" src="../assets/images/e-commerce/cajon1a.jpg" alt="cajon">
          <img class="img-fluid" src="../assets/images/e-commerce/cajon1a.jpg" alt="cajon">
          <img class="img-fluid" src="../assets/images/e-commerce/cajon1a.jpg" alt="cajon">
          <img class="img-fluid" src="../assets/images/e-commerce/cajon1a.jpg" alt="cajon">
        </div>
        <div class="col">
            <img class="img-fluid" src="../assets/images/e-commerce/cajon1a.jpg" alt="cajon">
        </div>
        <div class="col">
            <h2> Cajones </h2>
            <h5> Descripción </h5>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ducimus accusantium in eius, iste quae quos deleniti quasi explicabo quis id recusandae praesentium, unde, quisquam ab perspiciatis a porro suscipit! </p>
            <span><strong> Precio: </strong> $7,000 MXN </span>
            <h6><strong>  Opiniones: </strong></h6>
            <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i>
            <p><button class="btn btn-primary" type="button"> Agregar al carrito </button></p>
        </div>
      </div>
    </div>

    <!-- productos de interés-->
    <div class="container">
      <div class="row">
        <h2> Productos que quizá te interesen </h2>
      </div>
      <div class="row">
        <div class="col">
          <img class="img-fluid" src="../assets/images/e-commerce/cama1a.jpg" alt="cama">
        </div>
        <div class="col">
          <img class="img-fluid" src="../assets/images/e-commerce/cama1a.jpg" alt="cama">
        </div>
        <div class="col">
          <img class="img-fluid" src="../assets/images/e-commerce/cama1a.jpg" alt="cama">
        </div>
        <div class="col">
          <img class="img-fluid" src="../assets/images/e-commerce/cama1a.jpg" alt="cama">
        </div>
      </div>
    </div>


    <!-- Comienza footer -->
    <footer class="container-fluid footer">
      <div class="row">
        <div class="col text-center mt-2">
          <img src="" alt="Logo" height="23">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col footer ">
          <span class="font-weight-bold d-block text-left mb-1 fs">FURNITURE</span>
          <a href="#" class="d-block text-left mb-1 fs link">Living-Room</a>
          <a href="css/views/houses.html" class="d-block text-left mb-1  fs link">Dinning-Room</a>
          <a href="css/views/characters.html" class="d-block text-left mb-1  fs link">Studio</a>
          <a href="css/views/shows.html" class="d-block text-left mb-1 fs link">Bedroom</a>
          <a href="css/views/books.html" class="d-block text-left mb-1  fs link">Outdoor-Furniture</a>
        </div>
        <div class="col footer">
          <span class="font-weight-bold d-block text-left mb-1 fs ">LEARN MORE!</span>
          <a href="#" class="d-block text-left mb-1  fs link">About us</a>
          <a href="#" class="d-block text-left mb-1 fs link">Contact</a>
          <a href="#" class="d-block text-left mb-1 fs link">FAQ</a>
          <a href="#" class="d-block text-left mb-1 fs link">Visit our blog!</a>
        </div>
        <div class="col footer">
          <span class="font-weight-bold d-block text-left mb-1 fs">KEEP IN TOUCH</span>
          <a href="https://twitter.com/" class="d-block text-left mb-1 link">
            <i class="fab fa-twitter-square"></i>
          </a>
          <a href="https://www.facebook.com/" class="d-block text-left mb-1 link">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://www.instagram.com/" class="d-block text-left mb-1 link">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="row nopadding mt-2">
        <h6 class="d-block mx-auto col-6 offset-3">Do you want to keep with the trends and be the first to know about our incredible offers?</h6>
        <h5 class="col-6 offset-3"> Subscribe to our newsletter!</h5>
      </div>
      <div class="input-group mb-3 col-6 offset-3 mt-2">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>
      </div>
    </footer>
    <!-- Termina Footer -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
     crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
     crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/data.js"></script>
    <script type="text/javascript" src="../js/home.js"></script>
  </body>
</html>
